streamlit-audiorec
scikit-learn
Pillow
plotly
pydub
openai
whisper
openai-whisper
soundfile
google-cloud-speech
audiorecorder
selenium
webdriver_manager
pandas
wordcloud
matplotlib
streamlit
st_audiorec
numpy
datetime
base64
os
gTTS
json
langchain
langchain_experimental
environ